---
import Layout from "../../../layouts/Layout.astro";
import CodeBlock from "../../../components/CodeBlock.svelte";
export function getStaticPaths() {
  return [
    { params: { lang: "en", version: "v1" } },
    //{params: {lang: 'fr', version: 'v2'}},
  ];
}

const { lang, version } = Astro.params;
---

<Layout title="Getting Started">
  <div
    id={`getting-started-${lang}-${version}`}
    class="flex flex-col space-y-8 px-[10%] py-10"
  >
    <div class="flex flex-col space-y-4">
      <h1 class="text-white text-4xl font-extrabold">Getting Started</h1>
      <h2 class="text-white text-2xl font-bold">RESTful Endpoints</h2>
      <p class="text-white">
        You can consume data from our API using http requests. Exact code will
        vary depending on what programming language you're using, but we include
        examples for several popular programming languages.
      </p>
      <p class="text-white">
        At the moment, the only relevant HTTP request method is <a
          href="https://developer.mozilla.org/en-US/docs/Web/HTTP/Methods/GET"
          class="bg-[#1a252f] rounded-md px-1 font-bold"
          >GET</a
        >. There aren't any headers required to access our data.
      </p>
      <CodeBlock client:visible url={`${import.meta.env.API_URL}/beta/hello`}/>
    </div>
  </div>
</Layout>

