---
import Layout from "../../../layouts/Layout.astro";
export function getStaticPaths () {
 return [
    {params: {lang: 'en', version: 'v1'}},
    //{params: {lang: 'fr', version: 'v2'}},
  ];
}

const { lang, version } = Astro.params;
---

<Layout title="Getting Started">
  <div id={`getting-started-${lang}-${version}`} class="flex flex-col space-y-8 px-[10%]">
    <div class="flex flex-col space-y-2">
      <h1>Getting Started</h1>
      <p>
        You can consume data from our API using http requests. Exact
        code will vary depending on what programming language you're using,
        but we include examples for several popular programming languages.
      </p>
    </div>
  </div>
</Layout>