---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
---

<Layout title="BOSS API Docs">
    <div id="information-pane" class="flex flex-row">
        <h1 class="text-3xl">Welcome to Community BOSS API</h1>
    </div>
</Layout>

<style>
	
</style>
