---
import { Code } from "astro/components";
import { CodeBlockLanguage } from "../models/codeBlocks";


export interface Props {
  // data: CodeDataTab[]
  url: string
}

const languages: CodeBlockLanguage[] = [
  new CodeBlockLanguage("js", "const response = await fetch([REQUEST_URI]\");\nconst jsonData = await response.json();\nconsole.log(jsonData);"),
  new CodeBlockLanguage("python", "import requests\n\n"),
];

let tab: number = 0;
---

<div class="flex flex-row space-x-4">
  {languages.map((l, index) => {
    return <button>{l.lang.toUpperCase()}</button>
  })}
</div>

<Code lang="js" code={`fetch(\"${import.meta.env.API_URL}/beta/courses/fall/2023/Computer%20Science\")`} />


